.thinkSystem {
  &-SwiperContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #222;
  }

  &-SwiperContainer-actions {
    display: flex;

    > :last-child {
      flex-grow: 1;
    }
  }
}
