* {
  box-sizing: border-box;
}

.highlighted {
  background-color: yellow;
}

.stage-directions {
  background-color: #fff;
  display: block;
  text-indent: 1em;
  color: #999;
  font-style: italic;
  font-weight: lighter;
}
