* {
  box-sizing: border-box;
}

.highlighted {
  background-color: yellow;
}

.stage-directions {
  background-color: #fff;
  display: block;
  padding: 0.25em 1em;
  color: rgba(0,0,0,0.4);
  font-style: italic;
  font-weight: lighter;
}

.character {
  color: rgba(0,0,0,0.6);
  font-weight: bold;
}
